<a href="https://colab.research.google.com/github/eduardodsr/Python-Google-Colab/blob/master/Cap3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CAP3 - Laços de repetição - Dicionários e Lista

In [ ]:
nome = 'Eduardo'
endereco = 'Av. das Américas, 700'
idade = '18'
print('nome: {}, Endereco: {}, Idade: {}'.format(nome, endereco, idade))

nome: Eduardo, Endereco: Av. das Américas, 700, Idade: 18

In [ ]:
# Exemplo de um dicionário
pessoa = {
    'nome': 'Eduardo',
    'endereco': 'Av. das Américas, 700',
    'idade': 18
}
print('Isso é um dicionário: ')
print(pessoa)

Isso é um dicionário:
{'nome': 'Eduardo', 'endereco': 'Av. das Américas, 700', 'idade': 18}

In [13]:
# Exemplo de um dicionário com a função append()
# Cada pessoa é um item do dicionário
lista_pessoas = []
lista_pessoas.append({
    "nome": 'Eduardo',
    "endereco": 'Rua A, 1',
    "idade": 18
})
lista_pessoas.append({
    "nome": 'Maria',
    "endereco": 'Rua B, 2',
    "idade": 18
})
print(lista_pessoas)

[{'nome': 'Eduardo', 'endereco': 'Rua A, 1', 'idade': 18}, {'nome': 'Maria', 'endereco': 'Rua B, 2', 'idade': 18}]

In [ ]:
print(pessoa['nome']) # 'Eduardo
print(pessoa['endereco']) # 'Av. das Américas, 700'
print(pessoa['idade']) # 18

Eduardo
Av. das Américas, 700
18

In [34]:
# Exemplo de uma lista
lista = ['Eduardo', 'Maria', 'José', 'João']
print(lista)
print(lista[0]) # primeiro Item da Lista, posição 0
print(lista[-1]) # último Item da Lista, posição -1
print(lista[2:3]) # Lembrando que a última posição do elemento não é apresentada
print(lista[:2]) # Retornar do inicio até posição 2
print('O tamanho da lista tem {} itens.'.format(len(lista)))

['Eduardo', 'Maria', 'José', 'João']
Eduardo
João
['José']
['Eduardo', 'Maria']
O tamanho da lista tem 4 itens.

In [23]:
# lista = ['Eduardo', 'Maria', 'José', 'João']
lista[0] = 'Rodrigo' # Na posição 0 da lista trocou o nome para'Rodrigo'
print(lista)

['Rodrigo', 'Maria', 'José', 'João']

In [29]:
nome = 'Eduardo'
print(len(nome)) # Tamanho
print(nome[0]) # Posição 0
print(nome[-1]) # Ultima posição

7
E
o

In [35]:
# append() - adiciona um novo elemento no final da lista
lista = ['Eduardo', 'Maria', 'José', 'João']
lista.append('Joana') # 'Joana' foi incluida no final da lista
print(lista)

['Eduardo', 'Maria', 'José', 'João', 'Joana']

In [39]:
# copy() - copia da lista
lista_copia = lista.copy()
# print(lista_copia)
lista_copia[0] = 'Eduardo Rodrigues'
lista_copia[1] = 'Maria Silva'
lista_copia[2] = 'José Pereira'
lista_copia[3] = 'João Bosco'
lista_copia[4] = 'Joana Darc'
print(lista)
print(lista_copia)

['Eduardo', 'Maria', 'José', 'João', 'Joana']
['Eduardo Rodrigues', 'Maria Silva', 'José Pereira', 'João Bosco', 'Joana Darc']

In [40]:
# insert(index, object) - inserir um novo elemento na lista na posicao selecionada
lista = ['Eduardo', 'Maria', 'José', 'João']
lista.insert(0, 'Joana') # Inserir no indice 0 , objeto 'Joana'
print(lista)

['Joana', 'Eduardo', 'Maria', 'José', 'João']

In [41]:
# remove() - remover elemento da lista
lista = ['Eduardo', 'Maria', 'José', 'João']
lista.remove('Maria') # Remover a 'Maria' da lista
print(lista)

['Eduardo', 'José', 'João']

In [49]:
# pop() - remove and retorn the index
# Retirar o ultimo elemento da lista
lista = ['Eduardo', 'Maria', 'José', 'João']
lista_copia = lista.copy();
lista_ultimo_elemento_retirado = lista_copia.pop(-1) # Removeu o último elemento da lista
lista_primeiro_elemento_retirado = lista_copia.pop(0) # Removeu o primeiro elemento da lista
print('Lista original: {}'.format(lista))
print('Ultimo Elemento Retirado: {}'.format(lista_ultimo_elemento_retirado))
print('Primeiro Elemento Retirado: {}'.format(lista_primeiro_elemento_retirado))
print('Lista alterada: {}'.format(lista_copia))

Lista original: ['Eduardo', 'Maria', 'José', 'João']
Ultimo Elemento Retirado: João
Primeiro Elemento Retirado: Eduardo
Lista alterada: ['Maria', 'José']

In [51]:
# Verificar se um elemento está na lista
lista = ['Eduardo', 'Maria', 'José', 'João']
if ('Eduardo' in lista):
  print('SIM')
else:
  print('NÃO')

SIM

In [53]:
# Verificar se um elemento está na lista
lista = ['Eduardo', 'Maria', 'José', 'João']
nome = input('Digite o seu nome: ')
if (nome in lista):
  print('O seu nome "{}" está na lista!'.format(nome))
else:
  print('O seu nome "{}" não está na lista!'.format(nome))

Digite o seu nome: Eduardo
O seu nome "Eduardo" está na lista!

In [54]:
# Verificar se um elemento está na lista
lista = ['Eduardo', 'Maria', 'José', 'João']
nome = input('Digite o seu nome: ')
if (nome in lista):
  print('O seu nome "{}" está na lista!'.format(nome))
else:
  print('O seu nome "{}" não está na lista!'.format(nome))

Digite o seu nome: Paulo
O seu nome "Paulo" não está na lista!

# CAP3 - Laços de repetição - Tuplas

*   Exemplo de Tupla - Características:
*  São listas imutáveis;
*  Caso precise modificar uma tupla, você deve criar uma nova;
*  Mais rápidas, porém, de uso mais complexo.

In [2]:
# Exemplo de Tupla
tupla = ("Eduardo", "Maria", "José", "João", "Joana D'arc")
print('O exemplo abaixo é uma Tupla em Python:')
print(tupla)

O exemplo abaixo é uma Tupla em Python:
('Eduardo', 'Maria', 'José', 'João', "Joana D'arc")

In [4]:
# Exemplo de Lista
lista = lista = ['Eduardo', 'Maria', 'José', 'João', "Joana D'arc"]
print('O exemplo abaixo é uma Lista em Python:')
print(lista)

O exemplo abaixo é uma Lista em Python:
['Eduardo', 'Maria', 'José', 'João', "Joana D'arc"]

In [63]:
tupla = ("Eduardo", "Maria", "José", "João", "Joana D'arc")
tupla_copiada.append('Ricardo') # append() - Adicionar um novo elemento no final da lista
tupla_copiada.pop(0) # pop() - Remover o primeiro elemento
print(tupla)
print(tupla_copiada)

('Eduardo', 'Maria', 'José', 'João', "Joana D'arc")
['José', 'João', "Joana D'arc", 'Ricardo', 'Ricardo']

In [5]:
# Verificar se um elemento está na Tupla
tupla = ('Eduardo', 'Maria', 'José', 'João')
nome = input('Digite o seu nome: ')
if (nome in lista):
  print('O seu nome "{}" está na tupla!'.format(nome))
else:
  print('O seu nome "{}" não está na tupla!'.format(nome))

Digite o seu nome: Eduardo
O seu nome "Eduardo" está na tupla!

In [6]:
# Verificar se um elemento está na Tupla
tupla = ('Eduardo', 'Maria', 'José', 'João')
nome = input('Digite o seu nome: ')
if (nome in lista):
  print('O seu nome "{}" está na tupla!'.format(nome))
else:
  print('O seu nome "{}" não está na tupla!'.format(nome))

Digite o seu nome: Manoel
O seu nome "Manoel" não está na tupla!

# Laços de **Repetição**

In [17]:
senha = input('Digite a sua senha: ')
if senha=='secreto':
  print('Senha Correta!')
else:
  print('Senha inválida!')

Digite a sua senha: secreto
Senha Correta!

In [58]:
senha_correta = False
tentativas = 3
while ((not senha_correta) and (tentativas > 0 )):
  senha = input('Digite a sua senha: ')
  senha_correta = senha == 'secreto'  
  if (not senha_correta):
    print('A senha não está correta!')
    tentativas -=1
    print('Voce ainda tem {} tentativa(s).'.format(tentativas))
  else:
    print('Parabéns, você  digitou a senha correta')
print('FIM')

Digite a sua senha: 1
A senha não está correta!
Voce ainda tem 2 tentativa(s).
Digite a sua senha: 2
A senha não está correta!
Voce ainda tem 1 tentativa(s).
Digite a sua senha: 3
A senha não está correta!
Voce ainda tem 0 tentativa(s).
FIM

In [61]:
senha_correta = False
tentativas = 3
while ((not senha_correta) and (tentativas > 0)):
  senha = input('Digite a sua senha: ')
  senha_correta = senha == 'secreto'  
  if (not senha_correta):
    print('A senha não está correta!')
    tentativas -=1
    print('Voce ainda tem {} tentativa(s).'.format(tentativas))
  else:
    print('Parabéns, você  digitou a senha correta')
print('FIM')

Digite a sua senha: tentativa1
A senha não está correta!
Voce ainda tem 2 tentativa(s).
Digite a sua senha: tentativa2
A senha não está correta!
Voce ainda tem 1 tentativa(s).
Digite a sua senha: tentativa3
A senha não está correta!
Voce ainda tem 0 tentativa(s).
FIM

*Dicionários*

In [71]:
# Exemplo de um dicionário
pessoa = {
    'id': 1,
    'nome': 'Eduardo',
    'endereco': 'Av. das Américas, 700',
    'idade': 18
}
print('Isso é um dicionário: ')
print(pessoa)

Isso é um dicionário:
{'id': 1, 'nome': 'Eduardo', 'endereco': 'Av. das Américas, 700', 'idade': 18}

In [86]:
# Exemplo de um dicionário com a função append()
# Cada pessoa é um item do dicionário
lista_pessoas = []
lista_pessoas.append({
    "id": 1,
    "nome": 'Eduardo',
    "endereco": 'Rua 1',
    "idade": 21
})
lista_pessoas.append({
    "id": 2,
    "nome": 'Mariana',
    "endereco": 'Rua 2',
    "idade": 22
})
lista_pessoas.append({
    "id": 3,
    "nome": 'Adriana',
    "endereco": 'Rua 3',
    "idade": 23
})
print(lista_pessoas)

[{'id': 1, 'nome': 'Eduardo', 'endereco': 'Rua 1', 'idade': 21}, {'id': 2, 'nome': 'Mariana', 'endereco': 'Rua 2', 'idade': 22}, {'id': 3, 'nome': 'Adriana', 'endereco': 'Rua 3', 'idade': 23}]

In [87]:
print(lista_pessoas[0])
print(lista_pessoas[1])
print(lista_pessoas[2])

{'id': 1, 'nome': 'Eduardo', 'endereco': 'Rua 1', 'idade': 21}
{'id': 2, 'nome': 'Mariana', 'endereco': 'Rua 2', 'idade': 22}
{'id': 3, 'nome': 'Adriana', 'endereco': 'Rua 3', 'idade': 23}

In [88]:
print(lista_pessoas[-1])

{'id': 3, 'nome': 'Adriana', 'endereco': 'Rua 3', 'idade': 23}

In [89]:
print(lista_pessoas[-1])

{'id': 3, 'nome': 'Adriana', 'endereco': 'Rua 3', 'idade': 23}

In [109]:
for index in lista_pessoas:
  print('O  id {} tem o nome de {}.'.format(index['id'], index['nome']))

O  id 1 tem o nome de Eduardo.
O  id 2 tem o nome de Mariana.
O  id 3 tem o nome de Adriana.

In [145]:
lista_pessoas = []
lista_pessoas.append({
    "id": 1,
    "nome": 'Eduardo',
    "endereco": 'Rua 1',
    "idade": 21,
    "salario": 1000.10
})
lista_pessoas.append({
    "id": 2,
    "nome": 'Mariana',
    "endereco": 'Rua 2',
    "idade": 22,
    "salario": 2000.20
})
lista_pessoas.append({
    "id": 3,
    "nome": 'Adriana',
    "endereco": 'Rua 3',
    "idade": 23,
    "salario": 33000.30
})
print(lista_pessoas)

[{'id': 1, 'nome': 'Eduardo', 'endereco': 'Rua 1', 'idade': 21, 'salario': 1000.1}, {'id': 2, 'nome': 'Mariana', 'endereco': 'Rua 2', 'idade': 22, 'salario': 2000.2}, {'id': 3, 'nome': 'Adriana', 'endereco': 'Rua 3', 'idade': 23, 'salario': 33000.3}]

In [155]:
for index in lista_pessoas:
  print('O  id {} tem o nome de {} tem o salário de ${:8.2f}'.format(index['id'], index['nome'], index['salario']))

O  id 1 tem o nome de Eduardo tem o salário de $ 1000.10
O  id 2 tem o nome de Mariana tem o salário de $ 2000.20
O  id 3 tem o nome de Adriana tem o salário de $33000.30

In [154]:
for index in lista_pessoas:
  print('O  id {} tem o nome de {} tem o salário de ${:.2f}'.format(index['id'], index['nome'], index['salario']))

O  id 1 tem o nome de Eduardo tem o salário de $1000.10
O  id 2 tem o nome de Mariana tem o salário de $2000.20
O  id 3 tem o nome de Adriana tem o salário de $33000.30

In [158]:
print('Laço For - Apresentar os salários maiores que $30 mil: ')
for pessoa in lista_pessoas:
  if(pessoa['salario'] > 30000):
    print('O  id {} tem o nome de {} tem o salário de ${:.2f}'.format(index['id'], index['nome'], index['salario']))

Laço For - Apresentar os salários maiores que $30 mil:
O  id 3 tem o nome de Adriana tem o salário de $33000.30

In [162]:
# Mostras os números de 1 a 10
for numero in range(1, 11):
  print('Número {}.'.format(numero))

Número 1.
Número 2.
Número 3.
Número 4.
Número 5.
Número 6.
Número 7.
Número 8.
Número 9.
Número 10.

In [163]:
# Mostras os números pares de 1 a 10
for numero in range(1, 11):
  if numero % 2 == 0:
    print('O número {} é par.'.format(numero))

O número 2 é par.
O número 4 é par.
O número 6 é par.
O número 8 é par.
O número 10 é par.

In [167]:
# range(start, stop[,step]) -> range object

# Mostras os números pares de 1 a 10

for numero in range(2, 11, 2):
  # if numero % 2 == 0:  # Não precisa usar esse trecho!
    print('O número {} é par.'.format(numero))

O número 2 é par.
O número 4 é par.
O número 6 é par.
O número 8 é par.
O número 10 é par.

In [169]:
senha = input('Digite a sua senha: ') 
print(senha)

Digite a sua senha: teste
teste

In [182]:
from getpass import getpass

# import getpass -> getpass.getpass()
# getpass() is 'Password:'
# getpass() can be used to hide the input.

senha = getpass('Digite a sua senha: ') 
print("getpass.getpass () é usado para ocultar a entrada, ou seja, ocultar a senha ao digitar.")
print('A sua senha digitada é {}'.format(senha))

Digite a sua senha: ··········
getpass.getpass () é usado para ocultar a entrada, ou seja, ocultar a senha ao digitar.
A sua senha digitada é 123456

In [187]:
# getuser() - retorna o usuário local da maquina (usuário está logado)

from getpass import getpass, getuser
senha = getpass('Digite a sua senha: ')
usuario = getuser() # retorna o usuário local da maquina
print('User: {}'.format(usuario))
print(usuario)

Digite a sua senha: ··········
User: root
root