<a href="https://colab.research.google.com/github/eduardodsr/Python-Google-Colab/blob/master/Cap3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CAP3 - Laços de repetição - Dicionários e Lista

In [ ]:
nome = 'Eduardo'
endereco = 'Av. das Américas, 700'
idade = '18'
print('nome: {}, Endereco: {}, Idade: {}'.format(nome, endereco, idade))

nome: Eduardo, Endereco: Av. das Américas, 700, Idade: 18

In [ ]:
# Exemplo de um dicionário
pessoa = {
    'nome': 'Eduardo',
    'endereco': 'Av. das Américas, 700',
    'idade': 18
}
print('Isso é um dicionário: ')
print(pessoa)

Isso é um dicionário:
{'nome': 'Eduardo', 'endereco': 'Av. das Américas, 700', 'idade': 18}

In [ ]:
print(pessoa['nome']) # 'Eduardo
print(pessoa['endereco']) # 'Av. das Américas, 700'
print(pessoa['idade']) # 18

Eduardo
Av. das Américas, 700
18

In [34]:
# Exemplo de uma lista
lista = ['Eduardo', 'Maria', 'José', 'João']
print(lista)
print(lista[0]) # primeiro Item da Lista, posição 0
print(lista[-1]) # último Item da Lista, posição -1
print(lista[2:3]) # Lembrando que a última posição do elemento não é apresentada
print(lista[:2]) # Retornar do inicio até posição 2
print('O tamanho da lista tem {} itens.'.format(len(lista)))

['Eduardo', 'Maria', 'José', 'João']
Eduardo
João
['José']
['Eduardo', 'Maria']
O tamanho da lista tem 4 itens.

In [23]:
# lista = ['Eduardo', 'Maria', 'José', 'João']
lista[0] = 'Rodrigo' # Na posição 0 da lista trocou o nome para'Rodrigo'
print(lista)

['Rodrigo', 'Maria', 'José', 'João']

In [29]:
nome = 'Eduardo'
print(len(nome)) # Tamanho
print(nome[0]) # Posição 0
print(nome[-1]) # Ultima posição

7
E
o

In [35]:
# append() - adiciona um novo elemento no final da lista
lista = ['Eduardo', 'Maria', 'José', 'João']
lista.append('Joana') # 'Joana' foi incluida no final da lista
print(lista)

['Eduardo', 'Maria', 'José', 'João', 'Joana']

In [39]:
# copy() - copia da lista
lista_copia = lista.copy()
# print(lista_copia)
lista_copia[0] = 'Eduardo Rodrigues'
lista_copia[1] = 'Maria Silva'
lista_copia[2] = 'José Pereira'
lista_copia[3] = 'João Bosco'
lista_copia[4] = 'Joana Darc'
print(lista)
print(lista_copia)

['Eduardo', 'Maria', 'José', 'João', 'Joana']
['Eduardo Rodrigues', 'Maria Silva', 'José Pereira', 'João Bosco', 'Joana Darc']

In [40]:
# insert(index, object) - inserir um novo elemento na lista na posicao selecionada
lista = ['Eduardo', 'Maria', 'José', 'João']
lista.insert(0, 'Joana') # Inserir no indice 0 , objeto 'Joana'
print(lista)

['Joana', 'Eduardo', 'Maria', 'José', 'João']

In [41]:
# remove() - remover elemento da lista
lista = ['Eduardo', 'Maria', 'José', 'João']
lista.remove('Maria') # Remover a 'Maria' da lista
print(lista)

['Eduardo', 'José', 'João']

In [49]:
# pop() - remove and retorn the index
# Retirar o ultimo elemento da lista
lista = ['Eduardo', 'Maria', 'José', 'João']
lista_copia = lista.copy();
lista_ultimo_elemento_retirado = lista_copia.pop(-1) # Removeu o último elemento da lista
lista_primeiro_elemento_retirado = lista_copia.pop(0) # Removeu o primeiro elemento da lista
print('Lista original: {}'.format(lista))
print('Ultimo Elemento Retirado: {}'.format(lista_ultimo_elemento_retirado))
print('Primeiro Elemento Retirado: {}'.format(lista_primeiro_elemento_retirado))
print('Lista alterada: {}'.format(lista_copia))

Lista original: ['Eduardo', 'Maria', 'José', 'João']
Ultimo Elemento Retirado: João
Primeiro Elemento Retirado: Eduardo
Lista alterada: ['Maria', 'José']

In [51]:
# Verificar se um elemento está na lista
lista = ['Eduardo', 'Maria', 'José', 'João']
if ('Eduardo' in lista):
  print('SIM')
else:
  print('NÃO')

SIM

In [53]:
# Verificar se um elemento está na lista
lista = ['Eduardo', 'Maria', 'José', 'João']
nome = input('Digite o seu nome: ')
if (nome in lista):
  print('O seu nome "{}" está na lista!'.format(nome))
else:
  print('O seu nome "{}" não está na lista!'.format(nome))

Digite o seu nome: Eduardo
O seu nome "Eduardo" está na lista!

In [54]:
# Verificar se um elemento está na lista
lista = ['Eduardo', 'Maria', 'José', 'João']
nome = input('Digite o seu nome: ')
if (nome in lista):
  print('O seu nome "{}" está na lista!'.format(nome))
else:
  print('O seu nome "{}" não está na lista!'.format(nome))

Digite o seu nome: Paulo
O seu nome "Paulo" não está na lista!

# CAP3 - Laços de repetição - Tuplas

*   Exemplo de Tupla - Características:
*  São listas imutáveis;
*  Caso precise modificar uma tupla, você deve criar uma nova;
*  Mais rápidas, porém, de uso mais complexo.

In [2]:
# Exemplo de Tupla
tupla = ("Eduardo", "Maria", "José", "João", "Joana D'arc")
print('O exemplo abaixo é uma Tupla em Python:')
print(tupla)

O exemplo abaixo é uma Tupla em Python:
('Eduardo', 'Maria', 'José', 'João', "Joana D'arc")

In [4]:
# Exemplo de Lista
lista = lista = ['Eduardo', 'Maria', 'José', 'João', "Joana D'arc"]
print('O exemplo abaixo é uma Lista em Python:')
print(lista)

O exemplo abaixo é uma Lista em Python:
['Eduardo', 'Maria', 'José', 'João', "Joana D'arc"]

In [63]:
tupla = ("Eduardo", "Maria", "José", "João", "Joana D'arc")
tupla_copiada.append('Ricardo') # append() - Adicionar um novo elemento no final da lista
tupla_copiada.pop(0) # pop() - Remover o primeiro elemento
print(tupla)
print(tupla_copiada)

('Eduardo', 'Maria', 'José', 'João', "Joana D'arc")
['José', 'João', "Joana D'arc", 'Ricardo', 'Ricardo']

In [5]:
# Verificar se um elemento está na Tupla
tupla = ('Eduardo', 'Maria', 'José', 'João')
nome = input('Digite o seu nome: ')
if (nome in lista):
  print('O seu nome "{}" está na tupla!'.format(nome))
else:
  print('O seu nome "{}" não está na tupla!'.format(nome))

Digite o seu nome: Eduardo
O seu nome "Eduardo" está na tupla!

In [6]:
# Verificar se um elemento está na Tupla
tupla = ('Eduardo', 'Maria', 'José', 'João')
nome = input('Digite o seu nome: ')
if (nome in lista):
  print('O seu nome "{}" está na tupla!'.format(nome))
else:
  print('O seu nome "{}" não está na tupla!'.format(nome))

Digite o seu nome: Manoel
O seu nome "Manoel" não está na tupla!