<a href="https://colab.research.google.com/github/eduardodsr/Python-Google-Colab/blob/master/DevMod4PythonApostila.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*Programador Iniciante - Modulo 4 Python - Apostila*

*Capítulo 2 - Exibindo e recebendo dados na tela*

In [ ]:
print('Olá, Mundo!')

Olá, Mundo!

In [ ]:
input('Digite o seu nome: ')

Digite o seu nome: Eduardo

'Eduardo'

In [ ]:
nome = input('Qual é o seu nome? ')
print('Seja bem vindo(a) ' + nome)

Qual é o seu nome? Eduardo
Seja bem vindo(a) Eduardo

Em Python, os tipos de dados básicos são:

*   Tipo **inteiro**: armazena números inteiros.

*   Tipo **string**: armazena um conjunto de caracteres.

*   Tipo **float**: armazena números em formato decimal.

*   Tipo **Booleano**: armazena sempre True (Verdadeiro) ou False (Falso).

Exemplos:

In [ ]:
numero=123
print(numero)

123

In [ ]:
numero='Hello World!'
print(numero)
type(numero)

Hello World!

str

In [ ]:
numero=4.56
print(numero)
type(numero)

4.56

float

Escopo de variáveis

*   Variáveis **globais** são aquelas declaradas no início  ao longo de um documento, e que podem ser utilizadas em qualquer parte dele.
*   Variáveis **locais** são declaradas dentro de alguma função, e será válida somente para este bloco.

Strings

Observação: A forma mais comum de utilização na linguagem Phyton é aspas simples.

Concatenação de strings

In [ ]:
print('boot' + 'camp')
print('bootcamp' + 'IGTI')
print('bootcamp ' + 'IGTI')

bootcamp
bootcampIGTI
bootcamp IGTI

Manipulação de strings

len() - encontra o tamanho da string

In [ ]:
teste = 'Todo azul do mar'
len(teste)

16

replace() - substitui na string o primeiro trecho indicado no segundo

In [ ]:
teste = teste.replace('azul', 'verde')
print(teste)

Todo verde do mar

count() - informa quantas vezes um cactere aparece na string

In [ ]:
print(teste) # Str = Todo verde do mar
teste.count('o')

Todo verde do mar

3

find() - retorna o primeiro indice de um determinado caractere na string

In [ ]:
print(teste)
print(len(teste)) # Tamango da string
teste.find('r') # Retorna o primeiro indice encontrado, ou seja, o primeiro 'r' encontrado

Todo verde do mar
17

7

In [ ]:
print(teste)
print(len(teste))
teste.find('x') # Retorna -1 se não encontrar o indice determinado caractere na string

Todo verde do mar
17

-1

spit() - transforma a str (string) numa lista

In [ ]:
print(teste)
teste.split()

Todo verde do mar

['Todo', 'verde', 'do', 'mar']

split(treco_da_string) - separa da string somente o trecho selecionado

In [ ]:
teste.split('Todo')

['', ' verde do mar']

join() - junta os itens da string com um item delimitado

In [ ]:
'Aquele'.join(teste.split('Todo'))

'Aquele verde do mar'

upper() - retorna todos os itens em caixa alta

In [ ]:
print(teste)
teste.upper()

Todo verde do mar

'TODO VERDE DO MAR'

lower() - retorna todos os itens em caixa baixa

In [ ]:
print(teste)
teste.lower()

Todo verde do mar

'todo verde do mar'

*Capítulo 4 - Listas*

In [ ]:
lista1 = [1, 2, 3, 4, 5]
lista2 = ['Bootcamp', 'IGTI']
lista3 = ['B', 'o', 'o', 't', 'c', 'a', 'm', 'p', 'I', 'G', 'T', 'I']
lista4 = [1, 'b', True, [1, 2, 3], 45.11]
print(lista1)
print(lista2)
print(lista3)
print(lista4)

[1, 2, 3, 4, 5]
['Bootcamp', 'IGTI']
['B', 'o', 'o', 't', 'c', 'a', 'm', 'p', 'I', 'G', 'T', 'I']
[1, 'b', True, [1, 2, 3], 45.11]

Criar listas com range

Range é uma função utilizada para gerar sequência de números de forma ordenada.

```
# range(n), que gera uma sequencia de 0 a n-1.
```

In [ ]:
lista = list(range(10))
print(lista)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
lista = list(range(7))
print(lista)

[0, 1, 2, 3, 4, 5, 6]

In [ ]:
lista = list(range(5, 10))
print(lista)

[5, 6, 7, 8, 9]

In [ ]:
lista = list(range(2, 8))
print(lista)

[2, 3, 4, 5, 6, 7]

In [ ]:
lista = list(range(2, 10, 2)) 
print(lista) # resultado [2, 5, 6, 8]

[2, 4, 6, 8]

In [ ]:
lista = list(range(0, 50, 5))
print(lista)

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45]

**Manipular Listas**

Como a lista é uma estrutura mutável, existem várias funções que podem ser utilizadas para manipulá-las

sort() - ordenar uma lista em ordem crescente

In [ ]:
lista1 = [1, 7, 9, 2, 56, 4, 31, 55]
lista1.sort()
print(lista1)

[1, 2, 4, 7, 9, 31, 55, 56]

append(object) -> None -- append object to end.

append() - acrescentar um item no final da lista

In [ ]:
lista2 = ['abacaxi','laranja','banana','caju']
lista2.append('uva')
print(lista2)

['abacaxi', 'laranja', 'banana', 'caju', 'uva']

append() - também é possível acrescentar uma lista dentro da lista

In [ ]:
lista2.append(['batata', 'cenoura'])
print(lista2)

['abacaxi', 'laranja', 'banana', 'caju', 'uva', ['batata', 'cenoura']]

extend() - acrescentar uma lista em formato de itens ao final de uma lista

In [ ]:
lista3 = [1, 12, 43, 73, 24, 92]
lista3.extend([23, 41, 66])
print(lista3)

[1, 12, 43, 73, 24, 92, 23, 41, 66]

insert() - acrescentar um novo item a lista em um local especifico, informando a posiçãodo indice
insert(index, object) -- insert object before index

In [ ]:
lista4 = [1, 2, 3, 4, 5]
# print(lista4)
lista4.insert(3, 'novo elemento')
print(lista4)

[1, 2, 3, 'novo elemento', 4, 5]

somar duas listas. Podemos criar uma list a partir de 2 outras listas, somando-as

In [ ]:
lista5 = lista3 + lista4
print(lista5)

[1, 12, 43, 73, 24, 92, 23, 41, 66, 1, 2, 3, 'novo elemento', 4, 5]

reverse() - reverter a ordem da lista, do ultimo ao primeiro

In [ ]:
lista6=['ar','fogo','terra','agua']
lista6.reverse()
print(lista6)

['agua', 'terra', 'fogo', 'ar']

copy() - fazer uma cópia de uma lista

In [ ]:
lista7=lista6.copy()
print(lista7)

['agua', 'terra', 'fogo', 'ar']

enumerate() - gerar uma lista enumerada

enumerate(iterable[, start]) -> iterator for index, value of iterable

Return an enumerate object...

In [ ]:
lista8 = [1, 2, 3, 4, 5, 6]
lista8 = list(enumerate(lista8))
print(lista8)

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6)]

multiplicacao - repetir os elementos de uma lista multiplicandos-os

In [ ]:
lista9=[10,11,12,13]
print(lista9 * 3)

[10, 11, 12, 13, 10, 11, 12, 13, 10, 11, 12, 13]

In [ ]:
lista9=['String1','String2']
print(lista9 * 3)

['String1', 'String2', 'String1', 'String2', 'String1', 'String2']

***Capítulo 5 - Tuplas***

Assim como a lista, a tupla é um conjunto sequencial de itens. A grande diferença entre elas é que, enquanto podemos adicionar elementos à lista em qualquer momento, a tupla é imutável. Toda operação em uma tupla gera uma nova tupla.

In [124]:
# Manipular Tuplas
# Podemos criar uma tabela a partir do range

tupla1 = tuple(range(11))
print(tupla1)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
# Somente para tuplas formatadas exclusivamente de valores inteiros:
# sum() - soma dos valores da tupla
# max() - maior valor da tupla
# min() - menor valor da tupla

In [127]:
tupla3 = (1, 2, 3, 4)
print(sum(tupla3))  # sum() - soma dos valores da tupla
print(max(tupla3))  # max() - maior valor da tupla
print(min(tupla3))  # min() - menor valor da tupla

10
4
1

In [129]:
# len() - conta o tamanho da tupla
print(tupla3)
print(len(tupla3))

(1, 2, 3, 4)
4

In [130]:
# Podemos somar duas tuplas, mas podemos observar que seus valores não foram alterados

tupla1=(1,2,3)
tupla2=(4,5,6)
print(tupla1+tupla2)
print(tupla1)
print(tupla2)

(1, 2, 3, 4, 5, 6)
(1, 2, 3)
(4, 5, 6)

In [132]:
# Podemos criar uma tupla a partir de tuplas existentes, somando-as

tupla1=(1,2,3)
tupla2=(4,5,6)
tupla3 = (tupla1 + tupla2)
print(tupla3)

(1, 2, 3, 4, 5, 6)

In [133]:
# Podemos verificar de determinado elemente está contigo na tupla

tupla1= (1,2,3)
print(1 in tupla1) # Return True ou False
print(7 in tupla1) # Return True ou False

True
False

***Capítulo 6. Dicionários***

Dicionário é uma coleção de itens na qual cada elemento que a compõe possui uma chave associada a ele.
Os dicionários são delimitados por chaves { }. A chave de acesso e o valor são separados por dois pontos, sendo que ambos podem ser de qualquer tipo de dado. Diferentemente da lista e da tulpa, os dicionários não são indexados.

**Observação: Não podemos ter chaves repetidas em dicionários.**

In [138]:
# Manipular dicionários

semana = {'seg': 'segunda', 'ter': 'terça-feira', 'qua': 'quarta-feira', 'qui': 'quinta-feira', 'sex': 'sexta-feira'}
print(semana)
print(semana['seg'])

{'seg': 'segunda', 'ter': 'terça-feira', 'qua': 'quarta-feira', 'qui': 'quinta-feira', 'sex': 'sexta-feira'}
segunda

In [140]:
estacoes = {'ver': 'verão', 'out':'outono', 'inv': 'inverno', 'pri':'primavera'}
print(estacoes)
print(estacoes['pri'])

{'ver': 'verão', 'out': 'outono', 'inv': 'inverno', 'pri': 'primavera'}
primavera

In [142]:
# Criando dicionários: escrevendo-o  utilizando a função dict()

estacoes = dict(estacoes = {'ver': 'verão', 'out':'outono', 'inv': 'inverno', 'pri':'primavera'})
print(estacoes)

{'estacoes': {'ver': 'verão', 'out': 'outono', 'inv': 'inverno', 'pri': 'primavera'}}

In [143]:
# get() - acessar os elementos de um dicionário
# Retorna a resposta None quando não localiza o elemento procurado

estacoes = {'ver': 'verão', 'out':'outono', 'inv': 'inverno', 'pri':'primavera'}
print(estacoes.get('out'))
print(estacoes.get('frio'))

outono
None

In [145]:
# Podemos verificar se determinado elemento se encontra em um dicionário;
# Atenção! A bisca sempre é feita atraves da chave.

estacoes = {'ver': 'verão', 'out':'outono', 'inv': 'inverno', 'pri':'primavera'}
print('ver' in estacoes)
print('verão' in estacoes)
print('inv' in estacoes)
print('inverno' in estacoes)

True
False
True
False

In [3]:
# Podemos adicionar elmentos, adicionando uma chave e um valor. 
# Podemos atualizar algum elemento, escrevendo a chave e o novo valor.

inventario = {'caneta': 20, 'caderno': 55, 'livro': 40}
print(inventario)

# adicionando 'lapis'=30
inventario['lapis']=30
print(inventario)

inventario['caneta']=15
print(inventario)

{'caneta': 20, 'caderno': 55, 'livro': 40}
{'caneta': 20, 'caderno': 55, 'livro': 40, 'lapis': 30}
{'caneta': 15, 'caderno': 55, 'livro': 40, 'lapis': 30}

In [5]:
# pop() - podemos deletar elementos dos diconários

inventario = {'caneta': 20, 'caderno': 55, 'livro': 40}
inventario.pop('caneta')
print(inventario)

{'caderno': 55, 'livro': 40}

***Capítulo 7. Set (Conjuntos)***

In [6]:
# Manipulaçao de Conjuntos

# Como definir um set. Como não há repetição de valores, não é possível adicionar algum já existente, ele será ignorado.

numero = {1, 2, 3, 4, 1, 1, 2, 2, 4}
print(numero)

{1, 2, 3, 4}

In [8]:
# add() - adiciona um item ao set.
# Caso seja repetitivo, ele será ignorado e não será adicionado ao set.

numero = {1, 2, 3, 4, 1, 1, 2, 2, 4}
numero.add(5)  # 5 Adicionado
numero.add(1)  # 1 Ignorado
numero.add(6)  # 6 Adicionado
print(numero)

{1, 2, 3, 4, 5, 6}

In [12]:
# discard() - remove elementos do set.
# Caso existir o elmento, ele será ignorado, nenhum erro é gerado.
# Atenção! Sets não são indexados!

semana = {'domingo', 'segunda-feira', 'terça-feira', 'quarta-feira', 'quinta-feira', 'sexta-feira', 'sábado',}
semana.discard('domingo')
semana.discard('sábado')
print(semana)

{'quarta-feira', 'sexta-feira', 'terça-feira', 'quinta-feira', 'segunda-feira'}

In [26]:
# union() - gerar um único set com união dos elementos

# intersection() -  gerar um conjunto dos semelhantes em ambos os sets

# difference() - gerar um set com os que são exclusivos de um set

esportes1= {'futebol', 'basquete', 'volei','natacao','danca'}
esportes2= {'natacao', 'corrida', 'boxe','futebol','tenis'}
esportestotal = esporte1.union(esportes2)
print('Union: ')
print(esportestotal)

esportes_ambos = esportes1.intersection(esportes2)
print('Intersection: ')
print(esportes_ambos)

exclusivos_esportes1 = esportes1.difference(esportes2)
exclusivos_esportes2 = esportes2.difference(esportes1)
print('Difference (exclusivos esportes1): ')
print(exclusivos_esportes1)
print('Difference (exclusivos esportes2): ')
print(exclusivos_esportes2)

Union:
{'natacao', 'tenis', 'boxe', 'basquete', 'corrida', 'futebol', 'volei', 'danca'}
Intersection:
{'futebol', 'natacao'}
Difference (exclusivos esportes1):
{'basquete', 'volei', 'danca'}
Difference (exclusivos esportes2):
{'boxe', 'corrida', 'tenis'}

***Capítulo 8. Expressões booleanas***

True ou False

In [28]:
print(1 > 2)
# False
print(1 < 2)
# True
print(1 == 2)
# False
print(1 <= 2)
# True

False
True
False
True

In [30]:
a = 5
b = 10
if a > b:
  print('A é maior que B')
else:
  print('B é maior que A')
# B é maior que A

B é maior que A

**Capítulo 9. Operadores Lógicos **

*   and (e)
*   or (ou)
*   not (não)

In [31]:
# Operador and

a = 2
print(a < 8 and a < 15)
# True

a = 10
print(a < 8 and a < 15)
# False

True
False

In [32]:
# Operador or

a = 2
print(a < 1 or a < 15)
# True
a = 10
print(a < 1 or a > 15)
# False

True
False

In [33]:
# Operador not

a = 2
print (not(a > 1 and a < 15))
# False

a = 10
print(not(a < 1 or a > 15))
# True

False
True

**Capítulo 10. Estruturas condicionais: if, else, elif**

O Python suporta as condições lógicas usuais da matemática:

*   **igual a:** x == y
*   **diferente de**: x ! = 8
*   **menor que:** x < y
*   **maior que:** x > y
*   **menor ou igual a** : x <= y
*   **maior ou igual a:** x >= y

In [34]:
# Exemplo:
idade = 18
if idade < 18:
  print('Menor de idade')
elif idade == 18:
  print('Tem 18 anos')
else:
  print('Maior de idade')

Tem 18 anos

**Capítulo 11. Loops (estruturas de repetição)**

**Observação:** Iteração é a execução repetida de uma sequência de instruções

In [37]:
# Loop for

for numero in range(1, 10):
  print(numero)

1
2
3
4
5
6
7
8
9

In [38]:
nome = 'Bootcamp'
for letra in nome:
  print(letra)

B
o
o
t
c
a
m
p

In [40]:
# Loop while

numero = 0
while numero < 5:
  print(numero)
  numero += 1 # mesma coisa que numero = numero +1

0
1
2
3
4

In [41]:
senha = ''
while senha != 'IGTI':
  senha = input('Digite a sua senha:')
  print('Parabéns! Senha correta!!!')

Digite a sua senha:123
Parabéns! Senha correta!!!
Digite a sua senha:1452
Parabéns! Senha correta!!!
Digite a sua senha:425
Parabéns! Senha correta!!!
Digite a sua senha:IGTI
Parabéns! Senha correta!!!

**Capítulo 12. Funções**

As funções em Python são pequenas partes do código criadas para executar alguma função específica. Elas são reutilizáveis, ou seja, a partir do momento em que são criadas, é possível executá-las em qualquer parte do programa.

Algumas funções já são integradas ao Python. São chamadas de Built in, e já estamos as utilizando. Entre elas, podemos citar:

print( )

input( )

sort( )

len( )

In [42]:
def estudo_funcao():
  print('Aprendendo funcoes')

estudo_funcao()

Aprendendo funcoes

FIM !!!