<a href="https://colab.research.google.com/github/eduardodsr/Python-Google-Colab/blob/master/ProgramadorInicianteModulo4PythonApostila.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*Programador Iniciante - Modulo 4 Python - Apostila*

*Capítulo 2 - Exibindo e recebendo dados na tela*

In [2]:
print('Olá, Mundo!')

Olá, Mundo!

In [4]:
input('Digite o seu nome: ')

Digite o seu nome: Eduardo

'Eduardo'

In [7]:
nome = input('Qual é o seu nome? ')
print('Seja bem vindo(a) ' + nome)

Qual é o seu nome? Eduardo
Seja bem vindo(a) Eduardo

Em Python, os tipos de dados básicos são:

*   Tipo **inteiro**: armazena números inteiros.

*   Tipo **string**: armazena um conjunto de caracteres.

*   Tipo **float**: armazena números em formato decimal.

*   Tipo **Booleano**: armazena sempre True (Verdadeiro) ou False (Falso).

Exemplos:

In [8]:
numero=123
print(numero)

123

In [12]:
numero='Hello World!'
print(numero)
type(numero)

Hello World!

str

In [14]:
numero=4.56
print(numero)
type(numero)

4.56

float

Escopo de variáveis

*   Variáveis **globais** são aquelas declaradas no início  ao longo de um documento, e que podem ser utilizadas em qualquer parte dele.
*   Variáveis **locais** são declaradas dentro de alguma função, e será válida somente para este bloco.

Strings

Observação: A forma mais comum de utilização na linguagem Phyton é aspas simples.

Concatenação de strings

In [15]:
print('boot' + 'camp')
print('bootcamp' + 'IGTI')
print('bootcamp ' + 'IGTI')

bootcamp
bootcampIGTI
bootcamp IGTI

Manipulação de strings

len() - encontra o tamanho da string

In [16]:
teste = 'Todo azul do mar'
len(teste)

16

replace() - substitui na string o primeiro trecho indicado no segundo

In [17]:
teste = teste.replace('azul', 'verde')
print(teste)

Todo verde do mar

count() - informa quantas vezes um cactere aparece na string

In [25]:
print(teste) # Str = Todo verde do mar
teste.count('o')

Todo verde do mar

3

find() - retorna o primeiro indice de um determinado caractere na string

In [35]:
print(teste)
print(len(teste)) # Tamango da string
teste.find('r') # Retorna o primeiro indice encontrado, ou seja, o primeiro 'r' encontrado

Todo verde do mar
17

7

In [32]:
print(teste)
print(len(teste))
teste.find('x') # Retorna -1 se não encontrar o indice determinado caractere na string

Todo verde do mar
17

-1

spit() - transforma a str (string) numa lista

In [37]:
print(teste)
teste.split()

Todo verde do mar

['Todo', 'verde', 'do', 'mar']

split(treco_da_string) - separa da string somente o trecho selecionado

In [38]:
teste.split('Todo')

['', ' verde do mar']

join() - junta os itens da string com um item delimitado

In [40]:
'Aquele'.join(teste.split('Todo'))

'Aquele verde do mar'

upper() - retorna todos os itens em caixa alta

In [42]:
print(teste)
teste.upper()

Todo verde do mar

'TODO VERDE DO MAR'

lower() - retorna todos os itens em caixa baixa

In [43]:
print(teste)
teste.lower()

Todo verde do mar

'todo verde do mar'

*Capítulo 4 - Listas*

In [47]:
lista1 = [1, 2, 3, 4, 5]
lista2 = ['Bootcamp', 'IGTI']
lista3 = ['B', 'o', 'o', 't', 'c', 'a', 'm', 'p', 'I', 'G', 'T', 'I']
lista4 = [1, 'b', True, [1, 2, 3], 45.11]
print(lista1)
print(lista2)
print(lista3)
print(lista4)

[1, 2, 3, 4, 5]
['Bootcamp', 'IGTI']
['B', 'o', 'o', 't', 'c', 'a', 'm', 'p', 'I', 'G', 'T', 'I']
[1, 'b', True, [1, 2, 3], 45.11]

Criar listas com range

Range é uma função utilizada para gerar sequência de números de forma ordenada.

```
# range(n), que gera uma sequencia de 0 a n-1.
```

In [58]:
lista = list(range(10))
print(lista)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [59]:
lista = list(range(7))
print(lista)

[0, 1, 2, 3, 4, 5, 6]

In [60]:
lista = list(range(5, 10))
print(lista)

[5, 6, 7, 8, 9]

In [64]:
lista = list(range(2, 8))
print(lista)

[2, 3, 4, 5, 6, 7]

In [65]:
lista = list(range(2, 10, 2)) 
print(lista) # resultado [2, 5, 6, 8]

[2, 4, 6, 8]

In [89]:
lista = list(range(0, 50, 5))
print(lista)

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45]

**Manipular Listas**

Como a lista é uma estrutura mutável, existem várias funções que podem ser utilizadas para manipulá-las

sort() - ordenar uma lista em ordem crescente

In [92]:
lista1 = [1, 7, 9, 2, 56, 4, 31, 55]
lista1.sort()
print(lista1)

[1, 2, 4, 7, 9, 31, 55, 56]

append(object) -> None -- append object to end.

append() - acrescentar um item no final da lista

In [97]:
lista2 = ['abacaxi','laranja','banana','caju']
lista2.append('uva')
print(lista2)

['abacaxi', 'laranja', 'banana', 'caju', 'uva']

append() - também é possível acrescentar uma lista dentro da lista

In [100]:
lista2.append(['batata', 'cenoura'])
print(lista2)

['abacaxi', 'laranja', 'banana', 'caju', 'uva', ['batata', 'cenoura']]

extend() - acrescentar uma lista em formato de itens ao final de uma lista

In [102]:
lista3 = [1, 12, 43, 73, 24, 92]
lista3.extend([23, 41, 66])
print(lista3)

[1, 12, 43, 73, 24, 92, 23, 41, 66]

insert() - acrescentar um novo item a lista em um local especifico, informando a posiçãodo indice
insert(index, object) -- insert object before index

In [109]:
lista4 = [1, 2, 3, 4, 5]
# print(lista4)
lista4.insert(3, 'novo elemento')
print(lista4)

[1, 2, 3, 'novo elemento', 4, 5]

somar duas listas. Podemos criar uma list a partir de 2 outras listas, somando-as

In [110]:
lista5 = lista3 + lista4
print(lista5)

[1, 12, 43, 73, 24, 92, 23, 41, 66, 1, 2, 3, 'novo elemento', 4, 5]

reverse() - reverter a ordem da lista, do ultimo ao primeiro

In [111]:
lista6=['ar','fogo','terra','agua']
lista6.reverse()
print(lista6)

['agua', 'terra', 'fogo', 'ar']

copy() - fazer uma cópia de uma lista

In [112]:
lista7=lista6.copy()
print(lista7)

['agua', 'terra', 'fogo', 'ar']

enumerate() - gerar uma lista enumerada

enumerate(iterable[, start]) -> iterator for index, value of iterable

Return an enumerate object...

In [113]:
lista8 = [1, 2, 3, 4, 5, 6]
lista8 = list(enumerate(lista8))
print(lista8)

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6)]

multiplicacao - repetir os elementos de uma lista multiplicandos-os

In [114]:
lista9=[10,11,12,13]
print(lista9 * 3)

[10, 11, 12, 13, 10, 11, 12, 13, 10, 11, 12, 13]

In [123]:
lista9=['String1','String2']
print(lista9 * 3)

['String1', 'String2', 'String1', 'String2', 'String1', 'String2']